	<title><%=title%></title>
	<style type="text/css">
	div{
		width: 90%;
		margin: 0 auto;
	}
	img{
		width:100%;
		margin: 60px 0;
	}
	p{
		width: 90%;
		margin: 30px auto;
		font-size: 3em;
	}
	</style>
</head>
<body>
<div>
	<img src="<%=img%>">
	<p>名称:<br/><%=title%></p>
	<p>出版社:<br/><%=pub%></p>
	<p>作者:<br/><%=author%></p>
	<p>主题:<br/><%=subject%></p>
</div>